.modalContainer {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.modalContainer p {
    color: #000;
    font-size: 16px;
}